@(project: models.Project, employees: List[models.employees.Employee], employee: models.employees.Employee)
@main("Department",employee){
    <h1>Name: @project.getName</h1>
    <h3>@project.getDescription</h3>

    <h2>Team</h2>
    <div class="col-sm-9">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Email</th>
                <th>Date of birth</th>
                <th>Department</th>
    
            </tr>
            </thead>
            <tbody>
                @for(i<-employees) {
                   <tr>
                      <td>@i.getId</td>
                      <td>@i.getFname @i.getSname</td>
                      <td>@i.getPosition</td>
                      <td>@i.getEmail</td>
                      <td>@i.getDobString</td>
                      <td>@i.getDepartment.getName</td>
    
                    <td>
                    <a type="button" value="View" class="btn btn-primary" href="@routes.HomeController.individualEmployee(i.getId)">View</a>
                    </td>
    
                   </tr>
            }
            
            </tbody>
        </table>
    </div>

    @if((employee != null) && ("Administration".equals(employee.getDepartment().getName()))){
        <a type="button" value="Delete" onclick="return confirmDel();" class="btn btn-warning" href="@routes.HomeController.deleteProject(project.getId)">Delete</a>
        }

}